/* 
    Document   : main
    Created on : May 30, 2013, 11:00:12 AM
    Author     : Petr
    Description:
*/

body h1{
    text-align:center;
    margin-bottom: 20px;
    font-weight: normal;
    font-family: Arial,sans-serif;
    padding: 10px;
}

.list-panel {
    width: 360px;
    float: left;
}

.map-panel {
    width: 600px;
    float: right;
    margin-bottom: 10px;
}

.detail-panel {  
    width: 600px;  
    float: right;
}

.central-body {
    width: 1000px;
    margin:0 auto;
}

.no-border-panel {
    width: 320px;
    border: none;
    height: 1000px;
}

.list-map-button{
    width: 300px;
}

.list-update-button {
    margin-left: 5px;
}